<!DOCTYPE html>
<html>
<head>
    <title>Diary Entries</title>
</head>
<body>
<h1>Diary Entries</h1>

<table>
    <tr>
        <th>User ID</th>
        <th>User Name</th>
        <th>Email</th>
        <th>Title</th>
        <th>Content</th>
        <th>Date</th>
    </tr>

    {{#diaries}}
        <tr>
            <td>{{user.userId}}</td>
            <td>{{user.userName}}</td>
            <td>{{user.email}}</td>
            <td>{{title}}</td>
            <td>{{content}}</td>
            <td>{{date}}</td>
        </tr>
    {{/diaries}}
</table>

<br>
<a href="/index">Back to Home</a>
</body>
</html>