<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Success</title>
</head>
<body>
<h1>Success</h1>

<p>Thank you. {{entityName}} was added successfully!</p>

<a href="/index">Return Home</a>
</body>
</html>