<!DOCTYPE html>
<html>
<head><title>Success</title></head>
<body>
<div style="text-align: center; margin-top: 50px;">
    <h2>Success!</h2>
    <p>Your new article about {{title}} has been saved to the articles list.</p>
    <br>
    <a href="/articles">Return to Article List</a>
</div>
</body>
</html>